@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Tektur&display=swap");
* {
  font-family: "Tektur", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  margin: 0;
}

/* h1 {
  color: white;
  margin-bottom;: 50px
} */

p {
  font-size: 20vh;
}

button {
  border: none;
  background-color: transparent;
  font-size: 10vh;
  color: white;
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  1000% {
    opacity: 1;
  }
}

#countdown.flashing {
  animation: flashing 0.5s infinite;
  color: white;
}

button:hover {
  cursor: pointer;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2192ff;
  padding: 6px;
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  border: 2px;
  border-color: aliceblue;
}
